/* Variables */

//Colors
$background: #d0ea57;
$purple: #794aa0;
$darkgreen: #556d13;

@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

//Font-families
$comingsoon: 'Coming Soon', Arial, sans-serif;
