/* Variables */

//Colors
$background: #d0ea57;
$purple: #794aa0;
$darkgreen: #556d13;

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

//Font-families
$opensans: 'Open Sans', Arial, sans-serif;

